<div class="row">
  <span class="message" *ngIf="message" [innerText]="message" ></span>

  <form [formGroup]="user" novalidate [className]="submitted ? 'submitted': ''" (ngSubmit)="save(user, user.valid)">
    <ul>
      <li>
        <div class="form-group">
          <span class="inputs-label" for="email">email</span>
          <div class="columns-section">
            <input type="email" id="email" formControlName="email" class="form-control">
            <small class="b_error" *ngIf="!user.controls.email.valid && submitted">
              {{user.controls.email.errors['error']}}
            </small>
          </div>
        </div>
      </li>
      <li>
        <div class="form-group">
          <span class="inputs-label" for="password">password</span>
          <div class="columns-section">
            <input id="password" type="password" formControlName="password" class="form-control">
            <small class="b_error" *ngIf="!user.controls.password.valid && submitted">
              {{user.controls.password.errors['error']}}
            </small>
          </div>
        </div>
      </li>

      <li>
        <div class="block-buttons text-xs-center">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </li>
    </ul>
  </form>

</div>
