<header class="header fixed-top clearfix">
  <!--logo start-->
  <div class="brand">

    <a href="index.html" class="logo" [innerText]="'REST'"></a>
    <div class="sidebar-toggle-box">
      <i class="fa fa-bars"></i>
    </div>
  </div>

  <div class="top-nav clearfix">
    <ul class="nav float-xs-right top-menu">
      <li *ngIf="currentUser" class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" [innerText]="currentUser.email"></a>
        <ul class="dropdown-menu extended logout">
          <li><a href="javascript:void(0)" (click)="logOut()"><i class="fa fa-key"></i> Log Out</a></li>
        </ul>
      </li>
      <li *ngIf="!currentUser">
        <a href="#" class="dropdown-toggle" routerLink="/login">Log In</a>
      </li>
    </ul>
  </div>

</header>

<aside>
  <div id="sidebar" class="nav-collapse">
    <div class="leftside-navigation">
      <ul class="sidebar-menu" id="nav-accordion">
        <li routerLinkActive="active">
          <a routerLink="/users" routerLinkActive="active" ><i class="fa fa-fw fa-user"></i><span>Users</span></a>
        </li>
      </ul>
    </div>
  </div>
</aside>

<section id="main-content">
  <section class="wrapper">
    <div placeholder id="placeholder"></div>
    <router-outlet>
    </router-outlet>
  </section>
</section>
