<header class="header fixed-top clearfix">
  <!--logo start-->
  <div class="brand">

    <a href="index.html" class="logo" [innerText]="'REST'"></a>
    <div class="sidebar-toggle-box">
      <i class="fa fa-bars"></i>
    </div>
  </div>

  <div class="top-nav clearfix">
    <ul class="nav float-xs-right top-menu">
      <li *ngIf="currentUser">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" ngbDropdownToggle [innerText]="currentUser.email"></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu">
            <div class="dropdown-item"><a href="javascript:void(0)" (click)="logOut()"><i class="fa fa-key"></i> Log Out</a></div>
          </div>
        </div>
      </li>
      <li *ngIf="!currentUser">
        <a href="#" routerLink="/login">Log In</a>
      </li>
    </ul>
  </div>

</header>

<aside>
  <div id="sidebar" class="nav-collapse">
    <div class="leftside-navigation">
      <ul class="sidebar-menu" id="nav-accordion" *ngIf="currentUser">
        <li routerLinkActive="active">
          <a routerLink="/users" routerLinkActive="active" ><i class="fa fa-fw fa-user"></i><span>Users</span></a>
        </li>
      </ul>
    </div>
  </div>
</aside>

<section id="main-content">
  <section class="wrapper">
    <div placeholder id="placeholder"></div>
    <router-outlet>
    </router-outlet>
  </section>
</section>
